# --- Force GitHub to detect as Dart ---
*.dart linguist-language=Dart

# --- Disable detection for other build/system files ---
*.cmake linguist-detectable=false
CMakeLists.txt linguist-detectable=false

# Ignore platform-specific source languages
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.java linguist-detectable=false
*.kt linguist-detectable=false
*.m linguist-detectable=false
*.mm linguist-detectable=false
*.xml linguist-detectable=false
*.gradle linguist-detectable=false
*.plist linguist-detectable=false
*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
